<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<ul>
    <li>
        <a href="http://en.cheers.dev{{ path }}">English</a>
    </li>
    <li>
        <a href="http://ua.cheers.dev{{ path }}">Ukrainian</a>
    </li>
    <li>
        <a href="http://ru.cheers.dev{{ path }}">Russian</a>
    </li>
</ul>
<p>
    <a href="{{url 'index'}}">Home</a>
</p>
