<h1>{{title}}</h1>
<p>Welcome to {{title}} ({{locale}})</p>
<p>{{i18n 'Test'}}</p>
<ul>
    <li>
        <a href="{{url 'i18n_english'}}">English</a>
    </li>
    <li>
        <a href="{{url 'i18n_ukrainian'}}">Ukrainian</a>
    </li>
    <li>
        <a href="{{url 'i18n_russian'}}">Russian</a>
    </li>
</ul>
