<h1>{{title}}</h1>
<p>Welcome to {{title}} ({{locale}})</p>
<p>{{i18n 'Test'}}</p>
<ul>
    <li>
        <a href="/en/{{ req.path }}">English</a>
    </li>
    <li>
        <a href="/ua/{{ req.path }}">Ukrainian</a>
    </li>
    <li>
        <a href="/ru/{{ req.path }}">Russian</a>
    </li>
</ul>

<p>
    <a href="{{url 'about'}}">About page</a>
</p>
<p>
    <a href="{{url 'cases'}}">Cases page</a>
</p>
