<h1>{{title}}</h1>
<p>Welcome to {{title}} ({{locale}})</p>
<p>{{i18n 'Test'}}</p>
<p>{{i18n 'Something'}}</p>

{{> localesPartial}}

<p>
    <a href="{{url 'about'}}">About page</a>
</p>
<p>
    <a href="{{url 'cases'}}">Cases page</a>
</p>
